@import '~bootstrap/scss/bootstrap';


.body {

  .row {
    margin-right: 0;
  }
  padding: 0;

  #drop-down {
    position: absolute;
    top: 6rem;
    right: 0;
  }

  footer {
    align-items: flex-end;
    background-color: blue;
    font-size: 20px;
    height: 4rem;
    justify-content: flex-end;
    padding: 2em;
  }
  h1 {
    position: relative;
    font-size: 4em;
  }

  header {
    align-items: center;
    background-color: pink;
    height: 8rem;
    justify-content: center;
  }

  section {
      float: left;
      height: 75vh;
      width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .sidebar {
        padding: 1rem;
        text-align: center;
      }
    }

  main {
    align-items: center;
    background-color: beige;
    flex-direction: column;
    height: calc(100vh - 12rem);
    justify-content: center;

    .row {
      padding-left: 3vw;
    }

    .game {
      justify-content: center;
    }

    .board {
      height: 450px;
      padding: 0;
      width: 450px;

      .top {
        border-bottom: 4px solid black;
      }

      .bottom {
        border-top: 4px solid black;
      }

      .left {
        border-right: 4px solid black;
      }

      .right {
        border-left: 4px solid black;
      }

      .cell {
        float: left;
        height: calc(100% / 3);
        width: calc(100% / 3);

      }

      td {
        font-size: 100px;
        text-align: center;
      }
    }

    .logins {
      align-items: center;
      flex-direction: column;
      margin: 2em;

      > p {
        margin: 0;
      }
    }

    .game-data {
      font-size: 1rem;
      margin-left: 2rem;
      right: 5vw;
      width: 20vw;

      .feedback {
        background-color: grey;
      }

      .data {
        background-color: white;
        height: 30vh;
      }

      #new-game {
        align-self: flex-end;
        margin: .5rem 0 .5rem 0;
    }
  }

    .modal {
      button {
        margin: .5rem;
      }

      input {
        margin: .5rem;
      }

      .modal-header {
        align-items: center;

        > .modal-title {
          font-size: 2rem;
        }
      }

      .logins-fail-message {
        margin: 0 1em;
        text-align: center;
      }
    }

    .main-message {
      color: white;
      border-radius: 5px;
      display: none;
      left: 1rem;
      margin-bottom: 0;
      padding: .5rem;
      position: absolute;
      top: 10rem;
    }
  }

  @media (max-width: 650px) {

    main {
      flex-direction: row;

      .game-data {
        font-size: 0.85rem;

        .data {
          height: 5vh;
          width: 40vw;
        }
      }

      .board {
        margin-top: 1rem;
        height: 70vw;
        width: 70vw;

        td {
          font-size:  20vw;
          text-align: center;
        }
      }
    }

    h1 {
      font-size: 10vw;
    }

    footer {
      font-size: 15px;
    }
  }
}
