@import '~bootstrap/scss/bootstrap';


.body {

  #drop-down {
    position: absolute;
  }

  footer {
    align-items: flex-end;
    background-color: blue;
    font-size: 20px;
    height: 4rem;
    justify-content: flex-end;
    padding: 2em;
  }

  h1 {
    align-self: center;
    font-size: 4em;
  }

  header {
    align-items: flex-end;
    background-color: pink;
    height: 8rem;
    justify-content: flex-end;
  }

  main {
    align-items: center;
    background-color: beige;
    flex-direction: column;
    height: calc(100vh - 12rem);
    justify-content: center;

    .game {
      align-items: center;
    }

    .board {
      height: 495px;
      padding: 0;
      width: 495px;

      .top {
        border-bottom: 4px solid black;
      }

      .bottom {
        border-top: 4px solid black;
      }

      .left {
        border-right: 4px solid black;
      }

      .right {
        border-left: 4px solid black;
      }

      .cell {
        float: left;
        height: calc(100% / 3);
        width: calc(100% / 3);
      }
    }

    .logins {
      align-items: center;
      flex-direction: column;
      margin: 2em;

      > p {
        margin: 0;
      }
    }

    .modal {
      button {
        margin: .5rem;
      }

      input {
        margin: .5rem;
      }

      .modal-header {
        align-items: center;

        > .modal-title {
          font-size: 2rem;
        }
      }

      .logins-fail-message {
        margin: 0 1em;
        text-align: center;
      }
    }

    .main-message {
      color: white;
      border-radius: 5px;
      display: none;
      left: 1rem;
      margin-bottom: 0;
      padding: .5rem;
      position: absolute;
      top: 10rem;
    }
  }

  @media (max-width: 550px) {
    main .board {
      height: 90vw;
      width: 90vw;
    }

    h1 {
      font-size: 10vw;
    }

    footer {
      font-size: 15px;
    }
  }
}
