@import '~bootstrap/scss/bootstrap';
@import 'basic.scss';
@import 'dark.scss';
@import 'rainbow.scss';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fondamento|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway&display=swap');

.body {

  .row {
    margin-right: 0;
  }
  padding: 0;

  #drop-down {
    position: absolute;
    top: 6rem;
    right: 0;

    button {
      width: 100%;
    }
  }

  footer {
    align-items: flex-end;
    font-size: 20px;
    height: 4rem;
    justify-content: flex-end;
    padding: 2em;
  }
  h1 {
    font-size: 2.5rem;
    position: relative;
  }

  header {
    align-items: center;
    height: 8rem;
    justify-content: center;
  }


  main {
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 12rem);
    justify-content: center;

    section {
      float: left;
      height: 75vh;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .sidebar {
        padding: 1.4rem;
        text-align: center;
      }

      ul {
        list-style: none;
      }
    }

    .row {
      padding-left: 3vw;
    }

    .game {
      justify-content: center;
    }

    .board {
      height: 450px;
      padding: 0;
      width: 450px;

      .top {
        border-bottom: 4px solid black;
      }

      .bottom {
        border-top: 4px solid black;
      }

      .left {
        border-right: 4px solid black;
      }

      .right {
        border-left: 4px solid black;
      }

      .cell {
        float: left;
        height: calc(100% / 3);
        width: calc(100% / 3);

      }

      td {
        font-size: 100px;
        text-align: center;

        &:hover {
          font-size: 105px;
        }
        p {
          margin: 0;
        }
      }
    }

    .logins {
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin: 2em;

      > p {
        margin: 0;
      }

      .logins-message {
        margin-bottom: .5rem;
      }
    }

    .game-data {
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      right: 5vw;
      width: 20vw;

      .feedback {
        font-weight: 800;
      }

      .data {
        padding: .6rem;
        height: 30vh;
      }

      #single-player,
      #multiplayer {
        align-self: flex-end;
        margin: .1rem 0;
    }

    p {
      margin-bottom: 0;
    }
  }

    .modal {
      button {
        margin: .5rem;
      }

      input {
        margin: .5rem;
      }

      .modal-header {
        color: black;
        align-items: center;

        > .modal-title {
          font-size: 2rem;
        }
      }

      .logins-fail-message {
        margin: 0 1em;
        text-align: center;
      }
    }

    .main-message {
      color: white;
      border-radius: 5px;
      display: none;
      left: 1rem;
      margin-bottom: 0;
      padding: .5rem;
      position: absolute;
      top: 10rem;
    }
  }

  @media (max-width: 650px) {

    main {

      section {
        width: 12vw;

        .sidebar {
          font-size: 0.85rem;
          max-width: 100%;
          button {
            font-size: 0.6rem;
          }
        }
      }

      .feedback {
        font-size: 0.85rem;
      }

      .game-data {
        margin-top: 2rem;
        font-size: 0.5rem;

        p {
          margin: 0;
        }

        .data {
          padding: 0.1rem;
          height: 5vh;
          width: 40vw;
        }

        button {
          font-size: 0.85rem;
        }
      }

      .board {
        margin-top: 1rem;
        height: 70vw;
        width: 70vw;

        td {
          font-size:  15vw;
          text-align: center;
        }
      }

      .logins {
        text-align: center;
        width: 50vw;

        button {
          font-size: 0.85rem;
        }
      }
    }

    h1 {
      font-size: 5vw;
    }

    footer {
      font-size: 15px;
    }
  }
}
