// a rainbow theme

#rainbow {

  color: white;

  section {
    .modal {
      color: black;
    }
    .intro {
      background-color: rgba(0, 0, 0, .3)
    }
  }
  header {
    font-family: 'Lobster', cursive;
    background-color: rgb(0, 0, 0)
  }
  main {
    font-family: 'Raleway', sans-serif;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet), orange;
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet, orange);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet, orange);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet, orange);
    td {
      border-color: white;
    }
  }
  footer {
    background-color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
  }
  button {
    background-color: rgb(64, 64, 64);
    border: none;
    border-radius: 5px;
    color: white;
  }
  button:hover {
    animation: slide 10s linear infinite;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    color: rgb(0, 0, 0)
  }
  .main-message {
    border: solid black;
  }
  .data {
    background-color: rgba(255, 255, 255, .5);
  }
  .dropdown-menu {
    button {
      color: black;
      border: none;
      background-color: transparent;
    }
  }
}
